<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="/javascripts/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascripts/customizedAllowance.js"
    ></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <form id="customizedallowanceForm">
      <p>
        Amount of remaining tokens allowed to spent
      </p>
      <p>
        Owner The address of the account owning tokens
      </p>
      <p>
        Spender The address of the account able to transfer the tokens
      </p>
      <input
        type="text"
        name="owner"
        placeholder="Enter Owner's address"
      /><br /><br />
      <input
        type="text"
        name="spender"
        placeholder="Enter Spender's address "
      /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
