<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/customizedBalanceOf.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <form id="customizedbalanceOfForm">
      <p>
        Checks the accounts token balance.
      </p>
    <input type="text" name="account_address"  placeholder="Enter Account's address"/><br><br>
    <input type="submit" >
    </form>
  </body>

</html>
