<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      type="text/javascript"
      src="/javascripts/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascripts/customizedToken.js"
    ></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <form id="customizedTokenForm">
      <input
        type="text"
        name="totalSupply"
        placeholder="Enter the Total Supply of Your Network"
      /><br /><br />
      <input
        type="text"
        name="tokenName"
        placeholder="Enter the tokenName "
      /><br /><br />
      <input
        type="text"
        name="tokenDecimals"
        placeholder="Amount of decimals for display purposes"
      /><br /><br />
      <input
        type="text"
        name="tokenSymbol"
        placeholder="Set the symbol for display purposes"
      /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>
